# Build artifacts
build/
*.so
*.dylib
*.dll

# Godot
.godot/
*.import

# Game assets (copyrighted, do not commit)
assets/

# Editor
*.swp
*~
.vscode/
.idea/

# misc

.direnv/
.envrc

# mayybe?
game.gdextension.uid
