# Build artifacts
build/
*.so
*.dylib
*.dll

# Godot
.godot/
*.import

# nix
.direnv/*
.cursor

# Game assets (copyrighted, do not commit)
# Source BLB files
assets/

# Generated/extracted assets from BLB (copyrighted)
# Structure mirrors btm/extracted/{LEVEL}/{segment}/
extracted/

# Generated scene files (contain copyrighted asset references)
scenes/blb_stages/

# Editor
*.swp
*~
.vscode/
.idea/

# misc

.direnv/
.envrc

# mayybe?
game.gdextension.uid
